.table_item,
.newItem {
  transition: .2s;
  .btnBox {
    transition: .2s;
  }
  &:hover {
    background-color: #e4e4e4;
  }
  &:hover .btnBox {
    .action{
      cursor: pointer;
    }
  }
  td{
    .action{
      color: #525252;
      cursor: pointer;
      transition: .3s;
      &:hover {
        color: #d7440b;
      }
    }
  }
}
.newItem {
  background-color: rgba(33, 218, 15, 0.13);
}
.pending {
  background-color: rgba(255, 243, 205, .7);
}
.canceled {
  background-color: rgba(248, 215, 218, .7);
}
.ready {
  background-color: rgba(209, 236, 241, .7);
}
.done {
  background-color: rgba(212, 237, 218, .7);
}