#
# Docker Config file
#
DOCKER_CONFIG=docker-compose.yml
# DOCKER_CONFIG=docker-compose-prod.yml

#
# Same value [DB_DATABASE] from laravel/.env
#
DOCKER_DATABASE=db_name

#
# Same value [DB_USERNAME] from laravel/.env
#
DOCKER_USERNAME=db_user

#
# Same value [DB_PASSWORD] from laravel/.env
#
DOCKER_PASSWORD=db_pass

#
# Default pre installed php configuration.
#
#   development    - use php.ini-development as php.ini
#   production     - use php.ini-production as php.ini
#   <empty>        - without php.ini
#
DOCKER_PHP_CONFIG=development

#
# Enable or disable zend xdebug module.
#
#   <empty>         - disable xdebug
#   <ip-addr>       - enable xdebug and remote connections
#
DOCKER_XDEBUG=

#
# Start supervisor daemon.
#   Read tasks from "docker/supervisor.d/*.ini".
#
#   y       - start deamon
#   <any>   - don't start daemon
#
DOCKER_SUPERVISOR=y

#
# Start cron daemon.
#   Read jobs from "docker/cron.d" directory.
#   WARNING: File name shuold be the same as user name inside container.
#
#   y       - start deamon
#   <any>   - don't start daemon
#
DOCKER_CRON=y




#DOCKER_PHP_CONFIG=production
#DOCKER_XDEBUG=
#DOCKER_SUPERVISOR=y
#DOCKER_CRON=n
